section{
    display: flex;
    justify-content: center;
}

section:nth-of-type(1){
    gap: 1%;
    padding: 1rem;
}

section:nth-of-type(2){
    margin: 1%;
}

select {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    text-align: center;

  }

section>section{
    position: relative;
}

section>section::after{
    content: "▼";
    font-size: 1rem;    
    position: absolute;
    left: 9rem;
    top: 2rem;
}


#chart-container{
    height: 40rem;
    width: 80%;
}

select{
    cursor: pointer;
    background-color: #3b3b3b;
    color:#c5c5c5;
    font-size: 1rem;
    border-radius: 0.5rem;
    width: 10rem;
    height: 3em;
}

