ul{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    gap: 4%;
    background-color:#333;
    width: 20%;
    height: 100%;
}

li{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem 0 1rem;
    background-color: #333;
}

li>a{
    /* gap: 2%; */
    color:#c5c5c5;
    text-decoration: none;
}

li:hover{
    background-color: #292929;
}

.card {
    /* margin: 0em 15em 0em 20em; */
    text-align: center;
    vertical-align: middle;
    margin-top: 2em;
    /* width: 60em; */
    display: flexbox;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding:1em;
    padding-bottom: 3em;
    background-color:rgb(255, 255, 255);
    border-radius: 1em;
    box-shadow: 0 0 2em rgb(0, 0, 0)
}

h1{
    color: rgb(9, 47, 103);
}

table{
    /* width: 55em; */
    display: flexbox;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    /* border-collapse: separate; */
}

td{
    /* width: 17em; */
    display: flexbox;
    width: 50%;
    text-align: center;
}

th{
    padding-bottom: 1em;
    color: rgb(0, 1, 3);
    font-family: 'Montserrat', sans-serif;
}

tr {
    display: flexbox;
    width: 100%;
    border-radius: 3em;
}

.tableTitle{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flexbox;
    margin-bottom: 0.5em;
    padding: 0.1em;
    border-radius: 10px;
    background-color: rgb( 112, 123, 124 );
}

#btn {
    margin-top: 1em;
    border-radius: 2em;
    padding: 0.8em 3em 0.8em 3em;
    border-style: none;
    color: white;
    background-color: rgb(9, 47, 103 );
    font-family: 'Montserrat', sans-serif;
}

#btn:hover{
    cursor: pointer;
}

.bar{
    display: flexbox;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 0.5em;
    padding: 0.1em;
    border-radius: 10px;
    background-color: rgb(  178, 186, 187  );
}

.bar:hover{
    display: flexbox;
    /* width: 55em; */
    border: 3px solid rgb(9, 47, 103);
    padding: 0.5em;
    font-weight: 700;
    /* font-size: larger; */
    ;
}