body{
    background-color: #131722;
    color: white;
    font-family: Helvetica, sans-serif;
    vertical-align: top;
}

nav {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    background-color: #3b3b3b;
    height: 3rem;
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 1;
}

nav a {
    text-decoration: none;
    background: #3b3b3b;
    border-radius: 10px;
    padding: 1rem 0.75rem;
    margin-left: 1em;
    color: white;
}

nav a:hover {
    background-color: #2929297f;
}