body{
    background-color: black;
    color: white;
    font-family: Helvetica, sans-serif;
    vertical-align: top;
    height: 3rem;
    width: 100%;
    border-radius: 1em;
}

/*START of nav bar styling*/
nav {
    background-color: #3b3b3b;
    height: 3rem;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    gap: 4%;
    background-color: #3b3b3b;
    width: 20%;
    height: 100%;
}

nav li {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem 0 1rem;
    background-color: #3b3b3b;
}

nav li>a {
    /* gap: 2%; */
    color: #c5c5c5;
    text-decoration: none;
}

nav li:hover {
    background-color: #292929;
}
/* END of nav bar styling */