body{
    background-color: #131722;
    color: white;
    font-family: Helvetica, sans-serif;
    vertical-align: top;
}

/*START of nav bar styling*/
nav {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    background-color: #3b3b3b;
    height: 3rem;
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 1;
}

nav a {
    text-decoration: none;
    background: #3b3b3b;
    border-radius: 10px;
    padding: 1rem 0.75rem;
    margin-left: 1em;
    color: white;
}

nav a:hover {
    background-color: #292929;
}

/* nav ul {
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    gap: 4%;
    background-color: #3b3b3b;
    width: 20%;
    height: 100%;
}

nav li {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem 0 1rem;
    background-color: #3b3b3b;
}

nav li>a {
    color: #c5c5c5;
    text-decoration: none;
}

END of nav bar styling */